<table id="recipe-top-info" class="recipe-info">
    <tr>
      <th>Name:</th>
      <td><%= recipe.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= recipe.description %></td>
    </tr>
    <tr>
      <th>Category:</th>
      <td><%= recipe.category %></td>
    </tr>
    <tr>
      <th>Added by:</th>
      <td><%= recipe.userName %></td>
    </tr>
  </table>
  <br>
  
  <table id="recipe-second-info" class="recipe-info">
    <tr>
      <th>Prep Time (Mins):</th>
      <td><%= recipe.prepTime %></td>
    </tr>
    <tr>
      <th>Cook Time (mins):</th>
      <td><%= recipe.cookTime %></td>
    </tr>
    <tr>
      <th># Adult Servings:</th>
      <td><%= recipe.servings %></td>
    </tr>
  </table>
<br>
<br>

<h2>Ingredients</h2>
<% if(recipe.ingredients.length === 0) { %>

<% } else { %>

<table id="ingredients">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Ingredient</th>
            <th>Preparation</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.ingredients.forEach(function(r) { %>
        <tr>
            <td><%= r.qty %> <%= r.unit %></td>
            <td><%= r.ingredient %></td>
            <td><%= r.preparation %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<br>
<br>
<br>
<% } %>
<br>
<h3>Add Ingredients</h3>
<form action="/recipes/<%= recipe._id %>/ingredients?_method=PUT" method="POST" class="Ingredient">
    Qty: <input type="number" name="qty"></input> 
    Unit: <select name="unit">
        <option disabled selected value> -- Select a Unit -- </option>
        <option value="Piece(s)">Piece(s)</option>
        <option value="Ounce(s)">Ounce(s)</option>
        <option value="Pound(s)">Pound(s)</option>
        <option value="Gram(s)">Gram(s)</option>
        <option value="Kilogram(s)">Kilogram(s)</option>
        <option value="Teaspoon(s)">Teaspoon(s)</option>
        <option value="Tablespoon(s)">Tablespoon(s)</option>
        <option value="Cup(s)">Cup(s)</option>
        <option value="Mililitre(s)">Mililitre(s)</option>
        <option value="Litre(s)">Litre(s)</option>
        <option value="Fluid Ounce(s)">Fluid Ounce(s)</option>
    </select>
    Ingredient: <input type="text" name="ingredient"></input> 
    Preparation: <input type="text" name="preparation"></select>
    <button type="submit">Add Ingredient</button>
</form>
<br>
<br>
<br>
<h2>Instructions</h2>
<% if(recipe.instructions.length === 0) { %>

    <% } else { %>
<ol id="ingredients">
    <% recipe.instructions.forEach(function(i) { %>
        <li><%= i.instruction %></li>
    <% }); %>

</ol>
<br>
<% } %>
<br>
<h3>Add Instructions</h3>
<form action="/recipes/<%= recipe._id %>/instructions?_method=PUT" method="POST" class="Instruction">
    Instruction: <input type="text" name="instruction"></input> 
    <button type="submit">Add Instruction</button>
</form>


<form id="add-to-collection-button" action="/recipes/<%= recipe._id %>/collections" method="POST">
    <select name="collection_id">
      <% for(let i = 0; i < collections.length; i++) { %>
        <option value="<%= collections[i]._id %>"><%= collections[i].name %></option>
      <% } %>
    </select>
    <button type="submit">Add to Collection</button>
    </form>