<%- include('../partials/header') %>
<title>Collections</title>
<h1>Collections</h1>

<!-- <% if (collections.length === 0) { %>

  <p>There are no collections yet!</p>

  <p>Create one below:</p>

<% } else { %>

<table id="collections-list">
    <thead>
      <tr>
        <th>Collection</th>
        <th>Author</th>
        <th>Decription</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <% collections.forEach(function(c) { %>
        <tr>
          <td><a href="/collections/<%= c._id %>"><%= c.name %></td></a>
          <td><%= c.userName %></td>
          <td><%= c.description %></td>
          <td>
            <% if (user?._id.equals(c.author)) { %>
              <form action="/collections/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-button">X</button>
              </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
  </table>
<% } %>
<a id="create-collection-page-link" method="GET" 
  href="collections/create"><input type="submit" value="Create Collection" class="reg-button"/>
</a> -->

<% if (collections.length === 0) { %>
  <div id="collections-index-navigation">
    <div id="collections-index-navigation-container">
      <p>There are no collections here!</p>
      <a id="add-collection-page-link" method="GET" href="collections/add"><input type="submit" value="Add a collection" class="reg-button"/></a>
    </div>
  </div>

<% } else { %>  
  <div id="collections-index-recipes-container">
    <div class="collections-index-collection-card-grid">
      <% collections.forEach(function(c) { %>
        <a href="/collections/<%= c._id %>" class="collections-index-collection-card-container">
          <div class="collections-index-collection-image">
            <img src="<%= c.photo %>" alt="collection Image">
          </div>
          <div class="collections-index-collection-title">
            <h2><%= c.name %></h2>
          </div>
          <div class="collections-index-collection-author">
            <p><%= c.userName %></p>
          </div>
          <div class="collections-index-collection-about-container">
            <p><%= c.description %></p>
          </div>
        </a>
      <% }) %>
    </div>
  </div>

  <% } %>
  
  <div id="collections-index-navigation">
    <div id="collections-index-navigation-container">
      <a id="add-collection-page-link" method="GET" href="recipes/add"><input type="submit" value="Add a collection" class="reg-button"/></a>
    </div>
  </div>

  <br>
  <br>
  
<%- include('../partials/footer') %>