<%- include('../partials/header') %>
<title>Collections</title>
<h1>Collections</h1>

<% if (collections.length === 0) { %>
  <div id="collections-index-navigation">
    <div id="collections-index-navigation-container">
      <p>There are no collections here!</p>
      <a id="add-collection-page-link" method="GET" href="collections/add"><input type="submit" value="Add a collection" class="reg-button"/></a>
    </div>
  </div>

<% } else { %>  
  <div id="collections-index-recipes-container">
    <div class="collections-index-collection-card-grid">
      <% collections.forEach(function(c) { %>
        <div class="collections-index-collection-card-container">
          <div class="collections-index-collection-image">
            <img src="<%= c.photo %>" alt="collection Image">
          </div>
          <div class="collections-index-collection-title">
            <a href="/collections/<%= c._id %>"><h2><%= c.name %></h2></a>
          </div>
          <div class="collections-index-collection-author">
            <p><%= c.userName %></p>
          </div>
          <div class="collections-index-collection-about-container">
            <p><%= c.description %></p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <% } %>
  
  <div id="collections-index-navigation">
    <div id="collections-index-navigation-container">
      <a id="add-collection-page-link" method="GET" href="recipes/add"><input type="submit" value="Add a collection" class="reg-button"/></a>
    </div>
  </div>

  <br>
  <br>
  
<%- include('../partials/footer') %>