<%- include('../partials/header') %>

Name: <%= collection.name %></td><br>
Description: <%= collection.description %></td><br>
Relevant Tags: <%= collection.tags %></td><br>
Created by: <%= collection.userName %></td><br>


<%- include('../partials/footer') %>