<%- include('../partials/header') %>
<title><%= collection.name %></title>
<h1><%= collection.name %></h1>

<table id="collection-table" >
  <tr>
    <th>Name:</th>
    <td><%= collection.name %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= collection.description %></td>
  </tr>
  <tr>
    <th>Created by:</th>
    <td><%= collection.userName %></td>
  </tr>
  <tr>
    <th># Recipes:</th>
    <td><%= collection.recipes.length %></td>
  </tr>
</table>
<br>

<% if (collection.recipes.length > 0) { %>
  <table id="collection-list">
    <thead>
      <tr>
        <th>Recipes</th>
        <th>Authors</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% collection.recipes.forEach(function(cr) { %>
        <tr>
          <td><a href="/recipes/<%= cr._id %>"><%= cr.name %></a></td>
          <td><%= cr.userName %></td>
          <td><%= cr.category %></td>
          <td>
            <% if (user && user._id.equals(cr.author)) { %>
              <form action="/collections/<%= cr._id %>?_method=DELETE" method="POST" class="delete">
                <button type="submit" class="delete-button">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <% if (user) { %>
    <p>There are no recipes here! You can add some from the recipe pages.</p>
    <a href="'/recipes"><button class="reg-button">Recipes</button></a>
  <% } else { %>
    <p>The author of this collection hasn't added any recipes yet.</p>
  <% } %>
<% } %>





<%- include('../partials/footer') %>