<%- include('../partials/header') %>
<title>Recipes</title>
<h1>Recipes</h1>

<% if (recipes.length === 0) { %>
  <div id="recipes-index-navigation">
    <p>There are no recipes here!</p>
    <div id="recipes-index-navigation-container">
      <a id="add-recipe-page-link" method="GET" href="recipes/add"><input type="submit" value="Add a Recipe" class="reg-button"/></a>
      <a id="import-recipe-page-link" method="GET" href="recipes/import"><input type="submit" value="Import a Recipe" class="reg-button"/></a>
    </div>
  </div>

<% } else { %>  
  <div id="recipes-index-recipes-container">
    <div class="recipes-index-recipe-card-grid">
      <% recipes.forEach(function(r) { %>
        <div class="recipes-index-recipe-card-container">
          <div class="recipes-index-recipe-image">
            <img src="<%= r.photo %>" alt="Recipe Image">
          </div>
          <div class="recipes-index-recipe-title">
            <a href="/recipes/<%= r._id %>"><h2><%= r.name %></h2></a>
          </div>
            <div class="recipes-index-recipe-author">
              <p><%= r.publisher %></p>
            </div>
          <div class="recipes-index-recipe-about-container">
            <div class="recipes-index-recipe-about-time-container">
              <div class="recipes-index-recipe-about-time-icon">
                <img src="/public/icons/times.png" alt="time icon">
              </div>
              <div class="recipes-index-recipe-about-time-value">             
                <% if ((r.prepTime + r.cookTime) > 60) { %>
                  <% if (((r.prepTime + r.cookTime) / 60) > 2) { %>
                    <p><%= Math.floor((r.prepTime + r.cookTime) / 60) %> hrs</p>
                  <% } else { %>    
                    <p><%= Math.floor((r.prepTime + r.cookTime) / 60) %> hr <%= ((r.prepTime + r.cookTime) - (Math.floor((r.prepTime + r.cookTime) / 60) * 60)) %> mins</p>
                  <% } %>
                <% } else { %>
                  <p><%= r.prepTime + r.cookTime %> mins</p>
                <% } %>

              </div>
            </div>
            
            <div class="recipes-index-recipe-about-servings-container">
              <div class="recipes-index-recipe-about-servings-icon">
                <img src="../../public/icons/servings.png" alt="servings icon">
              </div>
              <div class="recipes-index-recipe-about-servings-value">
                <p><%= r.servings %></p>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <% } %>
  
  <% if (recipes.length) { %>
  <div id="recipes-index-navigation">
    <div id="recipes-index-navigation-container">
      <a id="add-recipe-page-link" method="GET" href="recipes/add"><input type="submit" value="Add a Recipe" class="reg-button"/></a>
      <a id="import-recipe-page-link" method="GET" href="recipes/import"><input type="submit" value="Import a Recipe" class="reg-button"/></a>
    </div>
  </div>
  <% } %>

  <br>
  <br>
  
<%- include('../partials/footer') %>