<%- include('../partials/header') %>
<title>Recipes</title>
<h1>Recipes</h1>

<% if (recipes.length === 0) { %>

  <p>There are no recipes here!</p>

<% } else { %>
  <table id="recipes-list">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Author</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <% recipes.forEach(function(r) { %>
      <tr>
        <td><a href="/recipes/<%= r._id %>"><%= r.name %></a></td>
        <td><%= r.userName %></td>
        <td><%= r.category %></td>
        <td>
          <% if (user?._id.equals(r.author)) { %> 
            <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST" class="delete">
              <button type="submit" class="delete-button">X</button>
            </form>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
  <div id="recipes-container">
    <div class="recipe-card-grid">
      <% recipes.forEach(function(r) { %>
        <a href="/recipes/<%= r._id %>" class="recipe-card-container">
          <div class="recipe-image">
            <img src="<%= r.photo %>" alt="Recipe Image">
          </div>
          <div class="recipe-title">
            <h2><%= r.name %></h2>
          </div>
          <div class="recipe-author">
            <p><%= r.userName %></p>
          </div>
          <div class="recipe-about-container">
            <div class="recipe-about-time-container">
              <div class="recipe-about-time-icon">
                <img src="/public/icons/times.png" alt="time icon">
              </div>
              <div class="recipe-about-time-value">             
                <p><%= r.prepTime + r.cookTime %> mins</p>

                <!-- <% if ((r.prepTime + r.cookTime) > 60) { %>
                  <p><%= (r.prepTime + r.cookTime) / 60 %> hrs</p>
                <% } else { %>
                  <p><%= r.prepTime + r.cookTime %> mins</p>
                <% } %> -->

              </div>
            </div>
            
            <div class="recipe-about-servings-container">
              <div class="recipe-about-servings-icon">
                <img src="../../public/icons/servings.png" alt="servings icon">
              </div>
              <div class="recipe-about-servings-value">
                <p><%= r.servings %></p>
              </div>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </div>

  <% } %>
  <a id="add-recipe-page-link" method="GET" 
    href="recipes/add"><input type="submit" value="Add a Recipe" class="reg-button"/>
  </a>
  <a id="copy-recipe-page-link" method="GET" 
    href="recipes/copy"><input type="submit" value="Copy a Recipe" class="reg-button"/>
  </a>

<%- include('../partials/footer') %>