<%- include('../partials/header') %>
<title><%= recipe.name %> Ingredients</title>
<h1><%= recipe.name %> Ingredients</h1>

<h3>Recipe Info</h3>
<table id="recipe-top-info" class="recipe-info">
    <tr>
      <th>Name:</th>
      <td><%= recipe.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= recipe.description %></td>
    </tr>
    <tr>
      <th>Category:</th>
      <td><%= recipe.category %></td>
    </tr>
    <tr>
      <th>Added by:</th>
      <td><%= recipe.userName %></td>
    </tr>
  </table>
  <br>
  
  <h3>Preparation Info</h3>
  <table id="recipe-second-info" class="recipe-info">
    <tr>
      <th>Prep Time (Mins):</th>
      <td><%= recipe.prepTime %></td>
    </tr>
    <tr>
      <th>Cook Time (mins):</th>
      <td><%= recipe.cookTime %></td>
    </tr>
    <tr>
      <th># Adult Servings:</th>
      <td><%= recipe.servings %></td>
    </tr>
  </table>
<br>
<br>

<h3>Ingredients</h3>
<% if(recipe.ingredients.length === 0) { %>

<% } else { %>

<table id="ingredients">
    <tbody>
      <% recipe.ingredients.forEach(function(i) { %>
        <tr>
            <td><%= i.ingredient %></td>
            <td>
              <form action="/ingredients/<%= i._id %>?_method=DELETE" method="POST" class="delete">
                <button type="submit" class="delete-button">X</button>
              </form>
            </td>
        </tr>

        <% }); %>
      </tbody>
    </table>
<br>
<br>
<% } %>
<h4>Add Ingredients</h4>

<form action="/recipes/<%= recipe._id %>/ingredients?_method=PUT" method="POST" class="Ingredient">
<table id="recipe-ingredients" class="recipe-info">
  <tr>
    <th>Ingredient: </th>
    <td><input type="text" name="ingredient" class="med-input" autocomplete="off"></input><br></td>
  </tr>
</table>

  <button type="submit" class="reg-button">Add Ingredient</button>
</form>

<br>
<br>

<a id="instructions-button" href="/recipes/<%= recipe._id %>/instructions"><button class="reg-button"/>Go to Instructions</button></a>
<br>   
<br>


<%- include('../partials/footer') %>