<%- include('../partials/header') %>

<table id="recipe-top-info" class="recipe-info">
    <tr>
      <th>Name:</th>
      <td><%= recipe.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= recipe.description %></td>
    </tr>
    <tr>
      <th>Category:</th>
      <td><%= recipe.category %></td>
    </tr>
    <tr>
      <th>Added by:</th>
      <td><%= recipe.userName %></td>
    </tr>
  </table>
  <br>
  
  <table id="recipe-second-info" class="recipe-info">
    <tr>
      <th>Prep Time (Mins):</th>
      <td><%= recipe.prepTime %></td>
    </tr>
    <tr>
      <th>Cook Time (mins):</th>
      <td><%= recipe.cookTime %></td>
    </tr>
    <tr>
      <th># Adult Servings:</th>
      <td><%= recipe.servings %></td>
    </tr>
  </table>
<br>
<br>
<br>
<h2>Ingredients</h2>
<% if(recipe.ingredients.length === 0) { %>

<% } else { %>

<table id="ingredients">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Ingredient</th>
            <th>Preparation</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.ingredients.forEach(function(r) { %>
        <tr>
            <td><%= r.qty %> <%= r.unit %></td>
            <td><%= r.ingredient %></td>
            <td><%= r.preparation %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<% } %>
<br>
<br>
<br>
<h2>Instructions</h2>
<% if(recipe.instructions.length === 0) { %>

    <% } else { %>
<ol id="ingredients">
    <% recipe.instructions.forEach(function(i) { %>
        <li><%= i.instruction %></li>
    <% }); %>
</ol>
<br>
<% } %>
<br>
<h3>Add Instructions</h3>
<form action="/recipes/<%= recipe._id %>/instructions?_method=PUT" method="POST" class="Instruction">
    Instruction: <input type="text" name="instruction" class="long-input" autocomplete="off"></input> 
    <button type="submit" class="reg-button">Add Instruction</button>
</form>
<br>
<br>
<br>
<form action="/recipes/<%= recipe._id %>" method="GET" class="view">
    <button type="submit" class="reg-button">View Full Recipe</button>
</form>

<%- include('../partials/footer') %>