<%- include('../partials/header') %>

<title><%= recipe.name %> Instructions</title>
<h1><%= recipe.name %> Instructions</h1>

<h3>Recipe Info</h3>
<table id="recipe-top-info" class="recipe-info">
    <tr>
      <th>Name:</th>
      <td><%= recipe.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= recipe.description %></td>
    </tr>
    <tr>
      <th>Category:</th>
      <td><%= recipe.category %></td>
    </tr>
    <tr>
      <th>Added by:</th>
      <td><%= recipe.userName %></td>
    </tr>
  </table>
  <br>
  
  <h3>Preparation Info</h3>
  <table id="recipe-second-info" class="recipe-info">
    <tr>
      <th>Prep Time (Mins):</th>
      <td><%= recipe.prepTime %></td>
    </tr>
    <tr>
      <th>Cook Time (mins):</th>
      <td><%= recipe.cookTime %></td>
    </tr>
    <tr>
      <th># Adult Servings:</th>
      <td><%= recipe.servings %></td>
    </tr>
  </table>
<br>
<br>
<br>


<h3>Ingredients</h3>
<% if(recipe.ingredients.length > 0) { %>
<table id="ingredients">
  <thead>
      <tr>
          <th>Qty</th>
          <th>Ingredient</th>
          <th>Preparation</th>
    </tr>
  </thead>
  <tbody>
    <% recipe.ingredients.forEach(function(r) { %>
      <tr>
          <td><%= r.qty %> <%= r.unit %></td>
          <td><%= r.ingredient %></td>
          <td><%= r.preparation %></td>
      </tr>
    <% }) %> 
    </tbody>
  </table>

  <% } else { %>

<% if(recipe.ingredients.length === 0 && user?._id.equals(recipe.author)) { %>
  <p>There are no ingredients here yet. Click the button below to add some!</p><br>
  <a href="/recipes/<%= recipe._id %>/ingredients" class="button">
    <button type="submit" class="reg-button">Add Recipe Ingredients</button></a>

    <% } else { %>
      <p>There are no ingredients here yet. We hope the author will be back soon to add some!</p>
    <% } %>
  <% } %> 
    <br>
    <br>


<h3>Instructions</h3>
<% if(recipe.instructions.length > 0) { %>
  <table id="instructions">
    <thead>
        <tr>
            <th>Instruction</th>
            <th></th>
      </tr>
    </thead>
    <tbody>
      <% recipe.instructions.forEach(function(i) { %>
        <tr>
          <td><%= i.instruction %></td>
          <td>
            <form action="/instructions/<%= i._id %>?_method=DELETE" method="POST" class="delete">
              <button type="submit" class="delete-button">X</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <% if(recipe.instructions.length === 0 && (!user)) { %>
    <p>There aren't any instructions yet. We're sure that the author will add some soon!</p>
  <% } else { %>
    <h4>Add Instructions</h4>
    <% if(recipe.instructions.length === 0 && user?._id.equals(recipe.author)) { %>
    <p>There aren't any instructions yet. Use the button below to add some!</p>
    <% } %>
  <% } %>
<% } %>

<h4>Add Instruction</h4>
<form action="/recipes/<%= recipe._id %>/instructions?_method=PUT" method="POST" class="Instruction">
  <p>Instruction: <input type="text" name="instruction" class="med-input"></input></p>
  <button type="submit" class="reg-button">Add Instruction</button>
</form>
<br>
<br>

<a href="/recipes/<%= recipe._id %>" class="view">
  <button type="submit" class="reg-button">View Full Recipe</button></a>
<br>
<br>
<%- include('../partials/footer') %>