<%- include('../partials/header') %>

<title><%= recipe.name %></title>

<div id="recipe-show">
  <div id="recipe-show-container">
    <div id="recipe-show-header-container">
      
      <div id="recipe-show-header-photo-container">
        <img class="recipe-show-photo" src="<%= recipe.photo %>" alt="Recipe Photo">
      </div>

      <div id="recipe-show-header-info-container">
        
        <div id="recipe-show-info-name-container" class="recipe-show-header-info-sub-container">
          <h1 id="recipe-show-info-name"class="recipe-show-header-info-sub-container-content"><%= recipe.name %></h1>
        </div>
        
        <div id="recipe-show-header-info-description-container" class="recipe-show-header-info-sub-container">
          <p id="recipe-show-info-description"class="recipe-show-header-info-sub-container-content"><%= recipe.description %></p>
        </div>
        
        <% if(recipe.publisher) { %>
          <div id="recipe-show-header-info-category-container" class="recipe-show-header-info-sub-container">
            <p id="recipe-show-header-info-added-by" class="recipe-show-header-info-sub-container-content">
              <a href="<%= recipe.link %>" target="_blank"><%= 'by ' + recipe.publisher %></a>
            </p>
          </div>

        <% } else { %>
          <div id="recipe-show-header-info-author-container" class="recipe-show-header-info-sub-container">
            <p id="recipe-show-header-info-author" class="recipe-show-header-info-sub-container-content"><%= 'by ' + recipe.userName %></p>
          </div>
          
          <% } %> 

        <br>
        
        <div id="recipe-show-header-info-details-container">
          <div class="recipe-show-header-info-details-sub-container">
        
            <div id="recipe-show-header-info-details-category-container" class="recipe-show-header-info-details-sub-sub-container">
              <h3 class="recipe-show-header-info-details-sub-sub-container-title">Category</h3>
              <p id="recipe-show-info-category" class="recipe-show-header-info-details-sub-sub-container-content">
                <%= recipe.category %>
              </p>
            </div>

            <div id="recipe-show-header-info-details-servings-container" class="recipe-show-header-info-details-sub-sub-container">
              <h3 class="recipe-show-header-info-details-sub-sub-container-title">Servings</h3>
              <p id="recipe-show-info-servings" class="recipe-show-header-info-details-sub-sub-container-content"><%= recipe.servings + " servings"%></p>
            </div>
          </div>
          
          <div class="recipe-show-header-info-details-sub-container">
            <% if(recipe.prepTime < 60) { %>
              <div id="recipe-show-header-info-details-prepTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Prep</h3>
                <p id="recipe-show-header-info-prepTime" class="recipe-show-header-info-details-sub-sub-container-content">
                  <%= recipe.prepTime + " mins" %>
                </p>
              </div>

            <% } else { %>
              <div id="recipe-show-header-info-details-prepTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Prep</h3>
                <p id="recipe-show-header-info-prepTime" class="recipe-show-header-info-details-sub-sub-container-content">
                  <%= Math.floor(recipe.prepTime / 60) + " hrs " + (recipe.prepTime - (Math.floor(recipe.prepTime / 60) * 60)) + " mins" %>
                </p>  
              </div>
            <% } %> 
            
            <% if(recipe.cookTime < 60) { %>
              <div id="recipe-show-header-info-details-cookTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Cook</h3>
                  <p id="recipe-show-header-info-cookTime" class="recipe-show-header-info-details-sub-sub-container-content"><%= recipe.cookTime + " mins" %></p>
              </div>

            <% } else { %>
              <div id="recipe-show-header-info-details-cookTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Cook</h3>
                <p id="recipe-show-header-info-cookTime" class="recipe-show-header-info-details-sub-sub-container-content">
                  <%= Math.floor(recipe.cookTime / 60) + " hrs " + (recipe.cookTime - (Math.floor(recipe.cookTime / 60) * 60)) + " mins" %>
                </p>  
              </div>
            <% } %> 
          </div>
        </div>
        
        <div id="recipe-show-header-actions-container">
          <div class="recipe-show-header-actions-sub-container">
            <!-- <a type="button" id="recipe-show-actions-favourite" class="recipe-show-header-actions-sub-container-content" onclick="changeRecipeFavouriteStatus()"><span class="material-symbols-outlined">favorite</span></a> -->
            
            <a type="button" id="recipe-show-actions-duplicate" class="recipe-show-header-actions-sub-container-content" onclick="duplicateRecipe()"><span class="material-symbols-outlined">content_copy</span></a>
            <a type="button" id="recipe-show-header-actions-share" class="recipe-show-header-actions-sub-container-content" onclick="shareRecipe()"><span class="material-symbols-outlined">share</span></a>            
            <a type="button" id="recipe-show-header-actions-print" class="recipe-show-header-actions-sub-container-content" onclick="printRecipe()"><span class="material-symbols-outlined">print</span></a>
            <% if (!user) { %>
              <div id="recipe-show-header-actions-collection" class="recipe-show-header-actions-sub-container-content">
                <p>Log in to add recipes to your collections</p>
              </div>
          
            <% } else { %>
              <div id="recipe-show-header-actions-collection" class="recipe-show-header-actions-sub-container-content">
                <div id="recipe-show-header-actions-collection" class="recipe-show-header-actions-sub-sub-container">
                  <form id="add-to-collection-button" action="/recipes/<%= recipe._id %>/collections" method="POST">
                      <select class="input" name="collection_id">
                        <option disabled selected value> -- Select a Collection -- </option>
                        <% for(let i = 0; i < collections.length; i++) { %>
                          <option value="<%= collections[i]._id %>"><%= collections[i].name %></option>
                        <% } %>
                      </select>
                      <button type="submit" id="recipe-show-actions-collection-button" class="reg-button">Add to Collection</button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>


    <br>

    <div id="recipe-show-method-container">
      <div id="recipe-show-method-ingredients-container" class="recipe-show-method-container">
        <h2>Ingredients</h2>
        <% if(recipe.ingredients.length > 0) { %>
            <% recipe.ingredients.forEach(function(ingredient) { %>
                <ul>
                  <li><%= ingredient.ingredient %></li>
                </ul>
            <% }) %> 

          <% } else { %>
            <p>There are no ingredients here yet. We hope the author will be back soon to add some!</p>
          <% } %>
          <br>
      </div>
      <br>

      <div id="recipe-show-method-instructions-container" class="recipe-show-method-container">
        <h2>Instructions</h2>
        <% if(recipe.instructions.length > 0) { %>
          <ol>
              <% recipe.instructions.forEach(function(instruction) { %>
              <li><%= instruction.instruction %></li>
          <% }); %>
          </ol>
        <% } else { %>
          <p>There are no instructions here yet. We hope the author will be back soon to add some!</p>
        <% } %>
        <br>
      </div>
    </div>
    
    <!-- <% if (user?._id.equals(recipe.author)) { %>
      <div id="recipe-show-navigation">
        <div id="recipe-show-navigation-container">

          <div class="recipe-show-navigation-button-container">
            <form action="/recipes/<%= recipe._id %>/edit" method="GET" class="button">
              <button type="submit" class="reg-button">Edit Recipe</button>
            </form>
          </div>
          
          <div class="recipe-show-navigation-button-container">
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" class="button">
              <button type="submit" class="reg-button">Delete Recipe</button>
            </form>
          </div>
        </div>
      </div>
    <% } %> -->
    
    <% if (!user) { %>
      <br>
      <p>Log in to edit, duplicate or delete this recipe.</p>
    
      <% } else if (user?._id.equals(recipe.author) && user?._id.equals(recipe.publisherId)) { %>
      <div id="recipe-show-navigation">
        <div id="recipe-show-navigation-container">

          <div class="recipe-show-navigation-button-container">
            <form action="/recipes/<%= recipe._id %>/edit" method="GET" class="button">
              <button type="submit" class="reg-button">Edit Recipe</button>
            </form>
          </div>
          
          <div class="recipe-show-navigation-button-container">
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" class="button">
              <button type="submit" class="reg-button">Delete Recipe</button>
            </form>
          </div>
        </div>
      </div>
    <% } else { %>
      <div id="recipe-show-navigation">
        <div id="recipe-show-navigation-container">
          <div class="recipe-show-navigation-button-container">
              <button type="submit" class="reg-button" onclick="duplicateRecipe()">Duplicate & Edit Recipe</button>
          </div>
        </div>
      </div>
    <% } %>

    <div class="recipe-show-hidden">
      <form action="/recipes/<%= recipe._id %>/duplicate" method="POST" class="recipe-show-hidden">
        <button id="recipe-show-hidden-button" type="submit" class="recipe-show-hidden">Duplicate Recipe</button>
      </form>
    </div>
    
  </div>

  <!-- <div id="recipe-show-tags">
      <h3>Tags</h3>
      <% if(recipe.tags.length > 0) { %>
        <ul>
          <% recipe.tags.forEach(function(t) { %>
          <li><%= t.tag %></li>
      <% }) %>
      </ul>
      <% } %>

      <ul>
        <%- recipe.tags.map(t =>
        `<li>
          ${t.tag} </li>`
      ).join('') %>
      </ul>

      <% if (user?._id.equals(recipe.author)) { %>
        <a href="/recipes/<%= recipe._id %>/tags" class="button">
          <button type="submit" class="reg-button">Edit Recipe Tags</button></a>
      
      <% } else { %>
      
        <% if(recipe.tags.length === 0 && user?._id.equals(recipe.author)) { %>
          <h4>Add Tags</h4>
          <p>There are no tags here yet. Use the button below to add some!</p><br>
          <a href="/recipes/<%= recipe._id %>/tags" class="button">
            <button type="submit" class="reg-button">Add Recipe Tags</button></a>
      
            <% } else { %>
              <p>There are no tags here yet. We hope the author will be back soon to add some!</p>
          <% } %>
        <% } %>
        <br>
        <br> -->
</div>  
        
<div id="share-modal" class="modal">
  <div class="share-modal-content">
    <div id="share-modal-logo-container">
      <img src="/public/images/Logo.png" alt="Foodio Logo">
    </div>

    <div id="share-modal-link-container">
      <h2>Share this recipe</h2>
      <p><%= recipe.name %></p>
      <input type="text" id="shareLink" class="share-modal-link-input" readonly>
      <button id="share-modal-link-copy" class="reg-button" onclick=copyLink()>Copy Link</button>
      <div id="share-modal-link-clipboard-notice" class="share-modal-clipboard-notice"></div>
    </div>
    
    <h3 id="share-modal-subtitle">Share via:</h3>
    <div id="share-modal-button-container">
      <button id="share-modal-email" class="share-modal-button-containers" onclick=shareViaEmail()><img src="/public/icons/email_icon.png" alt="Share with Email"></button>
      <button id="share-modal-whatsapp" class="share-modal-button-containers" onclick=shareViaWhatsApp()><img src="/public/icons/whatsapp_icon.png" alt="Share with WhatsApp"></button>
      <button id="share-modal-instagram" class="share-modal-button-containers" onclick=shareViaInstagram()><img src="/public/icons/instagram_icon.png" alt="Share with Instagram"></button>
      <button id="share-modal-facebook" class="share-modal-button-containers" onclick=shareViaFacebook()><img src="/public/icons/facebook_icon.png" alt="Share with Facebook"></button>
      <!-- <button id="share-modal-imessage" class="share-modal-button-containers" target="blank"><img src="/public/icons/imessage_icon.png" alt="Share with iMessage"></button> -->
    </div>

    <p id="share-modal-clipboard-notice" class="share-modal-clipboard-notice"></p>
    <span id="share-modal-close" class="reg-button">Close</span>
  </div>
</div>

<script>
  // Populate share link
  const currentUrl = window.location.href.toString()
  const shareLink = document.getElementById('shareLink')
  shareLink.value = currentUrl

  // Get the page
  const showPage = document.getElementById('recipe-show');
  
  // Get the nav
  const nav = document.getElementById('nav');
  
  // Get the recipe name
  const recipeNameEl = document.getElementById('recipe-show-info-name');
  const recipeName = recipeNameEl.innerText.toString()

  // Get the modal
  const modal = document.getElementById('share-modal');

  // Get the button that opens the modal
  const shareButton = document.getElementById('recipe-show-header-actions-share');

  // Get the <span> element that closes the modal
  const closeBtn = document.getElementById('share-modal-close');

  // When the user clicks the share button, open the modal
  shareButton.onclick = function() {
    nav.style.display = 'none';
    modal.style.display = 'flex';
  }

  // When the user clicks on <span> (x), close the modal
  closeBtn.onclick = function() {
    modal.style.display = 'none';
    nav.style.display = 'flex';
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = 'none';
      nav.style.display = 'flex';
    }
  }

  // Get the copy Link to Clipboard Notice element
  const copyLinkclipboardNotice = document.getElementById('share-modal-link-clipboard-notice')
  
  
  // Get the copy Link to Clipboard for sharing Notice element
  const clipboardNotice = document.getElementById('share-modal-clipboard-notice')

  function copyLink() {

    if (navigator.clipboard) {
    const message = `${currentUrl}`
    navigator.clipboard.writeText(message)
        .then(() => {
          copyLinkclipboardNotice.innerText = 'Message copied to clipboard!'
        })
        .catch(err => {
          copyLinkclipboardNotice.innerText = 'Oops, something went wrong...'
          console.log('Error in copying message: ', err)
        });

        setTimeout(() => {
          copyLinkclipboardNotice.innerText = ''
        }, 2000);
    }
  }

    // Email
    function shareViaEmail() {
    if(recipeName.includes('&')) {
      const updatedRecipeName = recipeName.replace('&', 'and')
      window.location.href = `mailto:?subject=Check out this recipe on Foodio!&body=I love this recipe for ${updatedRecipeName}! Check out it out on Foodio: ${currentUrl}`;
    
    } else {
      window.location.href = `mailto:?subject=Check out this recipe on Foodio!&body=I love this recipe for ${recipeName}! Check out it out on Foodio: ${currentUrl}`;
    }
  }
  
  
  // WhatsApp
  function shareViaWhatsApp() {
    if(recipeName.includes('&')) {
      const updatedRecipeName = recipeName.replace('&', 'and')
      whatsAppLink = `https://api.whatsapp.com/send?text=Check%20out%20this%20recipe%20on%20Foodio!%20${updatedRecipeName}:%20${currentUrl}`
      window.open(whatsAppLink, '_blank');
    
    } else {
    whatsAppLink = `https://api.whatsapp.com/send?text=Check%20out%20this%20recipe%20on%20Foodio!%20${recipeName}:%20${currentUrl}`
    window.open(whatsAppLink, '_blank');
    }
  }
  
  // Instagram
  function shareViaInstagram() {
    if (navigator.clipboard) {
    const message = `Check out this recipe on Foodio! ${recipeName}: ${currentUrl}`

    navigator.clipboard.writeText(message)
        .then(() => {
          clipboardNotice.innerText = 'Message copied to clipboard!'
        })
        .catch(err => {
          clipboardNotice.innerText = 'Oops, something went wrong...'
          console.log('Error in copying message: ', err)
        });

        setTimeout(() => {
          clipboardNotice.innerText = ''
          window.open('https://www.instagram.com', '_blank');
        }, 2000);
    }
  }

  function shareViaFacebook() {
    if (navigator.clipboard) {
    const message = `Check out this recipe on Foodio! ${recipeName}: ${currentUrl}`

    navigator.clipboard.writeText(message)
        .then(() => {
          clipboardNotice.innerText = 'Message copied to clipboard!'
        })
        .catch(err => {
          clipboardNotice.innerText = 'Oops, something went wrong...'
          console.log('Error in copying message: ', err)
        });

        setTimeout(() => {
          clipboardNotice.innerText = ''
          window.open('https://www.facebook.com', '_blank');
        }, 2000);
    }
  }



  // Print Functionality
  function printRecipe() {
    const printButton = document.getElementById('recipe-show-header-actions-print')

    printButton.addEventListener('click', function(e) {
        e.preventDefault();
        window.print();
    })
  }


  // Duplicate Recipe
  function duplicateRecipe() {
    const hiddenButton = document.getElementById('recipe-show-hidden-button')
    hiddenButton.click()
}

</script>

  