<%- include('../partials/header') %>

Name: <%= recipe.name %></td><br>
Description: <%= recipe.description %></td><br>
Category: <%= recipe.category %></td><br>
Relevant Tags: <%= recipe.tags %></td><br>
Created by: <%= recipe.userName %></td><br>
Creating Google ID:  <%= recipe.gId %></td><br>
UserID: <%= user._id %></td><br>

<br>
Prep Time (mins): <%= recipe.prepTime %></td><br>
Cook Time (mins): <%= recipe.cookTime %></td><br>
# Adult Servings: <%= recipe.servings %></td><br>
<br>
<h2>Ingredients</h2>
<table id="ingredients">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Ingredient</th>
            <th>Preparation</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.ingredients.forEach(function(r) { %>
        <tr>
            <td><%= r.qty %> <%= r.unit %></td>
            <td><%= r.ingredient %></td>
            <td><%= r.preparation %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<br>
<br>
<h2>Instructions</h2>
<ol>
    <% recipe.instructions.forEach(function(i) { %>
    <li><%= i.instruction %></li>
<% }); %>
</ol>

<%- include('../partials/footer') %>