<%- include('../partials/header') %>

Name: <%= recipe.name %></td><br>
Description: <%= recipe.description %></td><br>
Category: <%= recipe.category %></td><br>
Tags (separated by comma): <%= recipe.tags %></td><br>

<br>
Prep Time (mins): <%= recipe.prepTime %></td><br>
Cook Time (mins): <%= recipe.cookTime %></td><br>
# Adult Servings: <%= recipe.servings %></td><br>
<br>

<%- include('../partials/footer') %>