<%- include('../partials/header') %>

<title><%= recipe.name %></title>

<div id="recipe-show">
  <div id="recipe-show-container">
    <div id="recipe-show-header-container">
      
      <div id="recipe-show-header-photo-container">
        <img class="recipe-show-photo" src="<%= recipe.photo %>" alt="Recipe Photo">
      </div>

      <div id="recipe-show-header-info-container">
        
        <div id="recipe-show-info-name-container" class="recipe-show-header-info-sub-container">
          <h1 id="recipe-show-info-name"class="recipe-show-header-info-sub-container-content"><%= recipe.name %></h1>
        </div>
        
        <div id="recipe-show-header-info-description-container" class="recipe-show-header-info-sub-container">
          <p id="recipe-show-info-description"class="recipe-show-header-info-sub-container-content"><%= recipe.description %></p>
        </div>
        
        <% if(recipe.publisher) { %>
          <div id="recipe-show-header-info-category-container" class="recipe-show-header-info-sub-container">
            <p id="recipe-show-header-info-added-by" class="recipe-show-header-info-sub-container-content">
              <a href="<%= recipe.link %>" target="_blank"><%= 'by ' + recipe.publisher %></a>
            </p>
          </div>

        <% } else { %>
          <div id="recipe-show-header-info-author-container" class="recipe-show-header-info-sub-container">
            <p id="recipe-show-header-info-author" class="recipe-show-header-info-sub-container-content"><%= 'by ' + recipe.userName %></p>
          </div>
          
          <% } %> 

        <br>
        
        <div id="recipe-show-header-info-details-container">
          <div class="recipe-show-header-info-details-sub-container">
        
            <div id="recipe-show-header-info-details-category-container" class="recipe-show-header-info-details-sub-sub-container">
              <h3 class="recipe-show-header-info-details-sub-sub-container-title">Category</h3>
              <p id="recipe-show-info-category" class="recipe-show-header-info-details-sub-sub-container-content">
                <%= recipe.category %>
              </p>
            </div>

            <div id="recipe-show-header-info-details-servings-container" class="recipe-show-header-info-details-sub-sub-container">
              <h3 class="recipe-show-header-info-details-sub-sub-container-title">Servings</h3>
              <p id="recipe-show-info-servings" class="recipe-show-header-info-details-sub-sub-container-content"><%= recipe.servings + " servings"%></p>
            </div>
          </div>
          
          <div class="recipe-show-header-info-details-sub-container">
            <% if(recipe.prepTime < 60) { %>
              <div id="recipe-show-header-info-details-prepTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Prep</h3>
                <p id="recipe-show-header-info-prepTime" class="recipe-show-header-info-details-sub-sub-container-content">
                  <%= recipe.prepTime + " mins" %>
                </p>
              </div>

            <% } else { %>
              <div id="recipe-show-header-info-details-prepTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Prep</h3>
                <p id="recipe-show-header-info-prepTime" class="recipe-show-header-info-details-sub-sub-container-content">
                  <%= Math.floor(recipe.prepTime / 60) + " hrs " + (recipe.prepTime - (Math.floor(recipe.prepTime / 60) * 60)) + " mins" %>
                </p>  
              </div>
            <% } %> 
            
            <% if(recipe.cookTime < 60) { %>
              <div id="recipe-show-header-info-details-cookTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Cook</h3>
                  <p id="recipe-show-header-info-cookTime" class="recipe-show-header-info-details-sub-sub-container-content"><%= recipe.cookTime + " mins" %></p>
              </div>

            <% } else { %>
              <div id="recipe-show-header-info-details-cookTime-container" class="recipe-show-header-info-details-sub-sub-container">
                <h3 class="recipe-show-header-info-details-sub-sub-container-title">Cook</h3>
                <p id="recipe-show-header-info-cookTime" class="recipe-show-header-info-details-sub-sub-container-content">
                  <%= Math.floor(recipe.cookTime / 60) + " hrs " + (recipe.cookTime - (Math.floor(recipe.cookTime / 60) * 60)) + " mins" %>
                </p>  
              </div>
            <% } %> 
          </div>
        </div>
        
        <!-- New Actions Div -->
        <div id="recipe-show-header-actions-container">
          <div class="recipe-show-header-actions-sub-container">
            <a type="button" id="recipe-show-actions-favourite" class="recipe-show-header-actions-sub-container-content" onclick="changeRecipeFavouriteStatus()"><span class="material-symbols-outlined">favorite</span></a>
            <a type="button" id="recipe-show-actions-copy" class="recipe-show-header-actions-sub-container-content" onclick="copyRecipe()"><span class="material-symbols-outlined">content_copy</span></a>
            <a type="button" id="recipe-show-header-actions-share" class="recipe-show-header-actions-sub-container-content" onclick="shareRecipe()"><span class="material-symbols-outlined">share</span></a>            
            <a type="button" id="recipe-show-header-actions-print" class="recipe-show-header-actions-sub-container-content" onclick="printRecipe()"><span class="material-symbols-outlined">print</span></a>
            <% if (!user) { %>
              <div id="recipe-show-header-actions-collection" class="recipe-show-header-actions-sub-container-content">
                <p>Log in to add recipes to your collections</p>
              </div>
          
            <% } else { %>
              <div id="recipe-show-header-actions-collection" class="recipe-show-header-actions-sub-container-content">
                <div id="recipe-show-header-actions-collection" class="recipe-show-header-actions-sub-sub-container">
                  <form id="add-to-collection-button" action="/recipes/<%= recipe._id %>/collections" method="POST">
                      <select class="input" name="collection_id">
                        <option disabled selected value> -- Select a Collection -- </option>
                        <% for(let i = 0; i < collections.length; i++) { %>
                          <option value="<%= collections[i]._id %>"><%= collections[i].name %></option>
                        <% } %>
                      </select>
                      <button type="submit" id="recipe-show-actions-collection-button" class="reg-button">Add to Collection</button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>


    <br>

    <div id="recipe-show-method-container">
      <div id="recipe-show-method-ingredients-container" class="recipe-show-method-container">
        <h2>Ingredients</h2>
        <% if(recipe.ingredients.length > 0) { %>
            <% recipe.ingredients.forEach(function(ingredient) { %>
                <ul>
                  <li><%= ingredient.ingredient %></li>
                </ul>
            <% }) %> 

          <% } else { %>
            <p>There are no ingredients here yet. We hope the author will be back soon to add some!</p>
          <% } %>
          <br>
      </div>
      <br>

      <div id="recipe-show-method-instructions-container" class="recipe-show-method-container">
        <h2>Instructions</h2>
        <% if(recipe.instructions.length > 0) { %>
          <ol>
              <% recipe.instructions.forEach(function(instruction) { %>
              <li><%= instruction.instruction %></li>
          <% }); %>
          </ol>
        <% } else { %>
          <p>There are no instructions here yet. We hope the author will be back soon to add some!</p>
        <% } %>
        <br>
      </div>
    </div>
    
    <% if (user?._id.equals(recipe.author)) { %>
      <div id="recipe-show-navigation">
        <div id="recipe-show-navigation-container">
          <div class="recipe-show-navigation-button-container">
            <form action="/recipes/<%= recipe._id %>/edit" method="GET" class="button">
              <button type="submit" class="reg-button">Edit Recipe Info</button>
            </form>
          </div>
          <div class="recipe-show-navigation-button-container">
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" class="button">
              <button type="submit" class="reg-button">Delete Recipe</button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
    
  </div>

  <!-- <div id="recipe-show-tags">
      <h3>Tags</h3>
      <% if(recipe.tags.length > 0) { %>
        <ul>
          <% recipe.tags.forEach(function(t) { %>
          <li><%= t.tag %></li>
      <% }) %>
      </ul>
      <% } %>

      <ul>
        <%- recipe.tags.map(t =>
        `<li>
          ${t.tag} </li>`
      ).join('') %>
      </ul>

      <% if (user?._id.equals(recipe.author)) { %>
        <a href="/recipes/<%= recipe._id %>/tags" class="button">
          <button type="submit" class="reg-button">Edit Recipe Tags</button></a>
      
      <% } else { %>
      
        <% if(recipe.tags.length === 0 && user?._id.equals(recipe.author)) { %>
          <h4>Add Tags</h4>
          <p>There are no tags here yet. Use the button below to add some!</p><br>
          <a href="/recipes/<%= recipe._id %>/tags" class="button">
            <button type="submit" class="reg-button">Add Recipe Tags</button></a>
      
            <% } else { %>
              <p>There are no tags here yet. We hope the author will be back soon to add some!</p>
          <% } %>
        <% } %>
        <br>
        <br> -->
</div>  
        
<div id="share-modal" class="modal">
  <div class="share-modal-content">
    <div id="share-modal-logo-container">
      <img src="/public/images/Logo.png" alt="Foodio Logo">
    </div>

    <div id="share-modal-link-container">
      <h2>Share this recipe</h2>
      <p><%= recipe.name %></p>
      <input type="text" id="shareLink" class="share-modal-link-input" readonly>
    </div>
    
    <h3>Share via:</h3>
    <div id="share-button-container">
      <button id="share-modal-email" class="share-modal-button-containers" onclick=shareViaEmail() ><img src="/public/icons/email_icon.png" alt="Share with Email"></button>
      <button id="share-modal-instagram" class="share-modal-button-containers" onclick=shareViaWhatsApp()><img src="/public/icons/instagram_icon.png" alt="Share with Instagram"></button>
      <button id="share-modal-whatsapp" class="share-modal-button-containers"><img src="/public/icons/whatsapp_icon.png" alt="Share with WhatsApp"></button>
      <button id="share-modal-imessage" class="share-modal-button-containers"><img src="/public/icons/imessage_icon.png" alt="Share with iMessage"></button>
      <button id="share-modal-facebook" class="share-modal-button-containers"><img src="/public/icons/facebook_icon.png" alt="Share with Facebook"></button>
    </div>

    <span id="share-modal-close" class="reg-button">Close</span>
  </div>
</div>

  <script>
    // Populate share link
    const currentUrl = window.location.href
    const shareLink = document.getElementById('shareLink')
    shareLink.value = currentUrl

    // Get the page
    const showPage = document.getElementById('recipe-show');
    
    // Get the nav
    const nav = document.getElementById('nav');
    
    // Get the recipe name
    const recipeNameEl = document.getElementById('recipe-show-info-name');
    const recipeName = recipeNameEl.innerText

    // Get the modal
    const modal = document.getElementById('share-modal');

    // Get the button that opens the modal
    const shareButton = document.getElementById('recipe-show-header-actions-share');

    // Get the <span> element that closes the modal
    const closeBtn = document.getElementById('share-modal-close');

    // When the user clicks the share button, open the modal
    shareButton.onclick = function() {
      nav.style.display = 'none';
      modal.style.display = 'flex';
    }

    // When the user clicks on <span> (x), close the modal
    closeBtn.onclick = function() {
      modal.style.display = 'none';
      nav.style.display = 'flex';
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = 'none';
        nav.style.display = 'flex';
      }
    }

    // Function to share via email
    function shareViaEmail() {
      window.location.href = `mailto:?subject=Check out this recipe on Foodio!&body=I love this recipe for ${recipeName}! Check out it out on Foodio: ${currentUrl}`;
    };

    // // Function to share via WhatsApp

    function shareViaWhatsApp() {
      window.location.href = `https://wa.me/?text=urlencodedtext`
    }
    // const shareViaWhatsApp = () => {
    //   const link = document.getElementById('shareLink').value;
    //   window.location.href = `whatsapp://send?text=Check out this link: ${link}`;
    // };

    // // Add event listeners to share buttons
    // document.getElementById('shareEmail').addEventListener('click', shareViaEmail);
    // document.getElementById('shareWhatsApp').addEventListener('click', shareViaWhatsApp);

  </script>

  