<%- include('../partials/header') %>
<form action="/recipes/<%= recipe._id %>/edit" method="GET" class="button">
  <button type="submit">Edit Recipe</button>
</form>
<table id="recipe-top-info" class="recipe-info">
  <tr>
    <th>Name:</th>
    <td><%= recipe.name %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= recipe.description %></td>
  </tr>
  <tr>
    <th>Category:</th>
    <td><%= recipe.category %></td>
  </tr>
  <tr>
    <th>Added by:</th>
    <td><%= recipe.userName %></td>
  </tr>
</table>
<br>

<table id="recipe-second-info" class="recipe-info">
  <tr>
    <th>Prep Time (Mins):</th>
    <td><%= recipe.prepTime %></td>
  </tr>
  <tr>
    <th>Cook Time (mins):</th>
    <td><%= recipe.cookTime %></td>
  </tr>
  <tr>
    <th># Adult Servings:</th>
    <td><%= recipe.servings %></td>
  </tr>
</table>



<br>
<h2>Ingredients</h2>
<table id="ingredients">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Ingredient</th>
            <th>Preparation</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.ingredients.forEach(function(r) { %>
        <tr>
            <td><%= r.qty %> <%= r.unit %></td>
            <td><%= r.ingredient %></td>
            <td><%= r.preparation %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<br>
<br>
<h2>Instructions</h2>
<ol>
    <% recipe.instructions.forEach(function(i) { %>
    <li><%= i.instruction %></li>
<% }); %>
</ol>
<br>
<h2>Add recipe to collection</h2>
<form id="add-to-collection-button" action="/recipes/<%= recipe._id %>/collections" method="POST">
  <select name="collection_id">
    <% for(let i = 0; i < collections.length; i++) { %>
      <option value="<%= collections[i]._id %>"><%= collections[i].name %></option>
    <% } %>
  </select>
  <button type="submit">Add to Collection</button>
  </form>
  
<%- include('../partials/footer') %>