<%- include('../partials/header') %>
<br>
<br>

<div id="recipe-update">
  <div id="recipe-update-container">
    <form action="/recipes/<%= recipe._id %>/update/?_method=PUT" method="POST" id="recipe-top-info"  enctype="multipart/form-data">
    
      <div id="recipe-update-header-container">
        
        <div id="recipe-update-name-container" class="recipe-update-header-input-container">
          <div class="recipe-update-title">
            <h3>Title</h3>
          </div>
          <div class="recipe-update-content">
            <textarea name="name" type="text" class="expanding-text-input" rows="1" autocomplete="off"><%= recipe.name %></textarea>
          </div>
        </div>

        <div id="recipe-update-description-container" class="recipe-update-header-input-container">
          <div class="recipe-update-title">
            <h3>Description</h3>
          </div>
          <div class="recipe-update-content">
            <textarea name="description" type="text" class="expanding-text-input" rows="1" autocomplete="off"><%= recipe.description %></textarea>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div id="recipe-update-info-container">
        <div id="recipe-update-category-servings-container" class="recipe-update-info-container">
          <div id="recipe-update-category-container" class="recipe-update-input-container">
            <div class="recipe-update-title">
              <h3>Category</h3>
            </div>
              <div class="recipe-update-content">
                <select name="category" class="input">
                  <option value="<%= recipe.category %>"><%= recipe.category %></option>
                  <option value="Snack">Snack</option>
                  <option value="Starter">Starter</option>
                  <option value="Main Course">Main Course</option>
                  <option value="Desert">Desert</option>
                  <option value="Cocktail">Cocktail</option>
                </select>
              </div>
          </div>
        
          <div id="recipe-update-cookTime-container" class="recipe-update-input-container">
            <div class="recipe-update-title">
              <h3>Servings</h3>
            </div>
            <div class="recipe-update-content">
              <input name="servings" type="number"  class="short-input" autocomplete="off" value="<%= recipe.servings %>"></input>
            </div>
          </div>
        </div>

        <div id="recipe-update-timings-container" class="recipe-update-info-container">
          <div id="recipe-update-prepTime-container" class="recipe-update-input-container">
            <div class="recipe-update-title">
              <h3>Prep Time</h3>
            </div>
            <div class="recipe-update-content">
              <input name="prepTime" type="number"  class="short-input" autocomplete="off" value="<%= recipe.prepTime %>"></input>
            </div>
            <p>(mins)</p>
          </div>

          <div id="recipe-update-cookTime-container" class="recipe-update-input-container">
            <div class="recipe-update-title">
              <h3>Cook Time</h3>
            </div>
            <div class="recipe-update-content">
              <input name="cookTime" type="number"  class="short-input" autocomplete="off" value="<%= recipe.cookTime %>"></input>
            </div>
            <p>(mins)</p>
          </div>
        </div>
      </div>


      <div id="recipe-update-ingredients-instructions-container">

        <div id="recipe-update-ingredients-container" class="recipe-update-ingredients-instructions-container">
          <div class="recipe-update-title">
            <h3>Ingredients</h3>
          </div>
            <div id="recipe-update-ingredients">
              <% if(recipe.ingredients.length > 0) { %>
                <% recipe.ingredients.forEach(function(ingredient) { %>
                  <div class="recipe-update-ingredient-container">
                    <ul>
                      <li>
                        <input name="ingredient" type="text" class="ingredient input" value="<%= ingredient %>"></input>
                      </li>
                  </ul>
                    <div class="ingredient-up">
                      <a type="button" class="ingredient-up" onclick="moveIngredientUp('<%= ingredient %>')"><img src="/public/icons/arrow_upward.png"></a>
                    </div>
                    <div class="ingredient-down">
                      <a type="button" class="ingredient-down" onclick="moveIngredientDown('<%= ingredient %>')"><img src="/public/icons/arrow_downward.png"></a>
                    </div>
                    <div class="ingredient-delete">
                      <a type="button" class="ingredient-delete" onclick="deleteIngredient('<%= ingredient %>')"><img src="/public/icons/delete.png"></a>
                    </div>
                  </div>
                <% }) %> 
              <% } %> 
            </div>
          <div id="recipe-update-ingredient-add" class="recipe-update-add-buttons">
            <button type="button" class="reg-button" onclick="addIngredientField()">Add Ingredient</button>
          </div>
        </div>


          <div id="recipe-update-instructions-container" class="recipe-update-ingredients-instructions-container">
            <div class="recipe-update-title">
              <h3>Instructions</h3>
            </div>
            <div id="recipe-update-instructions">
            <% if(recipe.instructions.length > 0) { %>
              <% recipe.instructions.forEach(function(instruction) { %>
                <div class="recipe-update-instruction-container">
                  <ul>
                    <li>
                      <input name="instruction" type="text" class="instruction input" value="<%= instruction %>"></input>
                    </li>
                  </ul>
                  <div class="instruction-up">
                    <a type="button" class="instruction-up" onclick="moveInstructionUp('<%= instruction %>')"><img src="/public/icons/arrow_upward.png"></a>
                  </div>
                  <div class="instruction-down">
                    <a type="button" class="instruction-down" onclick="moveInstructionDown('<%= instruction %>')"><img src="/public/icons/arrow_downward.png"></a>
                  </div>
                  <div class="instruction-delete">
                    <a type="button" class="instruction-delete" onclick="deleteInstruction('<%= instruction %>')"><img src="/public/icons/delete.png"></a>
                  </div>
                </div>
              <% }) %> 
            <% } %> 
          </div>
          <div id="recipe-update-instruction-add" class="recipe-update-add-buttons">
            <button type="button" class="reg-button" onclick="addInstructionField()">Add Instruction</button>
          </div>
        </div>
      </div>


      <div id="recipe-update-footer-container">
        
        <div id="recipe-update-photo-container" class="recipe-update-header-input-container">
          <div class="recipe-update-title">
            <h3>Photo</h3>
          </div>
          <div id="recipe-update-image-content">
            <img id="recipe-update-image" src="<%= recipe.photo %>"></img>
          </div>
          <div id="recipe-update-image-buttons">



            <div id="recipe-update-upload-photo-button-container" class="recipe-update-photo-button-containers">
              <label for="photo-for-upload" class="custom-file-upload">
                <div class="button-container">
                  <span class="reg-button">Choose a File</span>
                  <input id="photo-for-upload" type="file" name="photo" accept="image/*"></input>
                </div>
              </label>
            </div>


            
            <div id="recipe-update-delete-photo-button-container" class="recipe-update-photo-button-containers">
              <button type="button" class="reg-button" onclick="photoDelete()">Delete Photo</button>
            </div>
          </div>
          <p>If you don't upload a photo we'll generate an image using AI!</p>    
              
        </div>
      
        <br>
        <br>
        <br>
      
    
      <button type="submit" class="reg-button">Save Recipe</button>
    </form>
    
    <br>
  </div>
</div>


<script>
  function addIngredientField() {
    const ingredientContainer = document.getElementById('recipe-update-ingredients')

    ingredient = document.createElement('div');
    ingredient.className = 'recipe-update-ingredient-container';

    // Create ul and append to main container
    let ul = document.createElement('ul');
    ingredient.appendChild(ul);

    // Create li, input and append to ul
    let li = document.createElement('li')
    let input = document.createElement('input')
    input.setAttribute('name', 'ingredient')
    input.setAttribute('type', 'text')
    input.className = 'ingredient input'
    li.appendChild(input)
    ul.appendChild(li)

    // Create ingredient-up div and append to main container
    let ingredientUp = document.createElement('div')
    ingredientUp.className = 'ingredient-up'
    let aUp = document.createElement('a')
    aUp.setAttribute('type', 'button')
    aUp.className = 'ingredient-up'
    aUp.onclick = function() {
      moveIngredientUp(input.value);
    }
    let imgUp = document.createElement('img')
    imgUp.setAttribute('src', '/public/icons/arrow_upward.png')
    aUp.appendChild(imgUp)
    ingredientUp.appendChild(aUp)
    ingredient.appendChild(ingredientUp)

    // Create ingredient-down div and append to main container
    let ingredientDown = document.createElement('div')
    ingredientDown.className = 'ingredient-down'
    let aDown = document.createElement('a')
    aDown.setAttribute('type', 'button')
    aDown.className = 'ingredient-down'
    aDown.onclick = function() {
      moveIngredientDown(input.value);
    }
    let imgDown = document.createElement('img')
    imgDown.setAttribute('src', '/public/icons/arrow_downward.png')
    aDown.appendChild(imgDown)
    ingredientDown.appendChild(aDown)
    ingredient.appendChild(ingredientDown)

    // Create ingredient-delete div and append to main container
    let ingredientDelete = document.createElement('div')
    ingredientDelete.className = 'ingredient-delete'
    let aDelete = document.createElement('a')
    aDelete.setAttribute('type', 'button')
    aDelete.className = 'ingredient-delete'
    aDelete.onclick = function() {
      deleteIngredient(input.value)
    }
    let imgDelete = document.createElement('img')
    imgDelete.setAttribute('src', '/public/icons/delete.png')
    aDelete.appendChild(imgDelete)
    ingredientDown.appendChild(aDelete)
    ingredient.appendChild(ingredientDown)

    // Finally append the main container to the ingredientContainer
    ingredientContainer.appendChild(ingredient)

  }


  function addInstructionField() {
    const instructionContainer = document.getElementById('recipe-update-instructions')

    instruction = document.createElement('div');
    instruction.className = 'recipe-update-instruction-container';

    // Create ul and append to main container
    let ul = document.createElement('ul');
    instruction.appendChild(ul);

    // Create li, input and append to ul
    let li = document.createElement('li')
    let input = document.createElement('input')
    input.setAttribute('name', 'instruction')
    input.setAttribute('type', 'text')
    input.className = 'instruction input'
    li.appendChild(input)
    ul.appendChild(li)

    // Create instruction-up div and append to main container
    let instructionUp = document.createElement('div')
    instructionUp.className = 'instruction-up'
    let aUp = document.createElement('a')
    aUp.setAttribute('type', 'button')
    aUp.className = 'instruction-up'
    aUp.onclick = function() {
      moveInstructionUp(input.value);
    }
    let imgUp = document.createElement('img')
    imgUp.setAttribute('src', '/public/icons/arrow_upward.png')
    aUp.appendChild(imgUp)
    instructionUp.appendChild(aUp)
    instruction.appendChild(instructionUp)

    // Create instruction-down div and append to main container
    let instructionDown = document.createElement('div')
    instructionDown.className = 'instruction-down'
    let aDown = document.createElement('a')
    aDown.setAttribute('type', 'button')
    aDown.className = 'instruction-down'
    aDown.onclick = function() {
      moveInstructionDown(input.value);
    }
    let imgDown = document.createElement('img')
    imgDown.setAttribute('src', '/public/icons/arrow_downward.png')
    aDown.appendChild(imgDown)
    instructionDown.appendChild(aDown)
    instruction.appendChild(instructionDown)

    // Create instruction-delete div and append to main container
    let instructionDelete = document.createElement('div')
    instructionDelete.className = 'instruction-delete'
    let aDelete = document.createElement('a')
    aDelete.setAttribute('type', 'button')
    aDelete.className = 'instruction-delete'
    aDelete.onclick = function() {
      deleteInstruction(input.value)
    }
    let imgDelete = document.createElement('img')
    imgDelete.setAttribute('src', '/public/icons/delete.png')
    aDelete.appendChild(imgDelete)
    instructionDown.appendChild(aDelete)
    instruction.appendChild(instructionDown)

    // Finally append the main container to the instructionContainer
    instructionContainer.appendChild(instruction)

  }

  function moveIngredientUp(ingredientValue) {
    const ingredientsHTML = document.getElementsByClassName('ingredient')
    
    let ingredients = []
    
    for (let i = 0; i < ingredientsHTML.length; i++) {
      const ingredient = ingredientsHTML[i];
      ingredients.push(ingredient.value)
    }
    
    const arrayIndexToMoveUp = ingredients.indexOf(ingredientValue)
    if(arrayIndexToMoveUp === 0) return
    
    const CSSindexToMoveUp = (arrayIndexToMoveUp + 1)
    const CSSindexToMoveBelow = (CSSindexToMoveUp - 1)

    const elementToMoveUp = document.querySelector(`#recipe-update-ingredients .recipe-update-ingredient-container:nth-child(${CSSindexToMoveUp})`)
    const elementToMoveBelow = document.querySelector(`#recipe-update-ingredients .recipe-update-ingredient-container:nth-child(${CSSindexToMoveBelow})`)
    
    const recipeIngredientsContainer = document.getElementById('recipe-update-ingredients')
    recipeIngredientsContainer.insertBefore(elementToMoveUp, elementToMoveBelow);
}

  function moveIngredientDown(ingredientValue) {
    const ingredientsHTML = document.getElementsByClassName('ingredient')

    let ingredients = []

    for (let i = 0; i < ingredientsHTML.length; i++) {
      const ingredient = ingredientsHTML[i];
      ingredients.push(ingredient.value)
    }
    
    const arrayIndexToMoveDown = ingredients.indexOf(ingredientValue)
    
    const CSSindexToMoveDown = (arrayIndexToMoveDown + 1)
    const CSSindexToMoveAbove = (CSSindexToMoveDown + 1)
    if(CSSindexToMoveDown === ingredients.length) return

    const elementToMoveDown = document.querySelector(`#recipe-update-ingredients .recipe-update-ingredient-container:nth-child(${CSSindexToMoveDown})`)
    const elementToMoveAbove = document.querySelector(`#recipe-update-ingredients .recipe-update-ingredient-container:nth-child(${CSSindexToMoveAbove})`)
    
    const recipeIngredientsContainer = document.getElementById('recipe-update-ingredients')
    recipeIngredientsContainer.insertBefore(elementToMoveAbove, elementToMoveDown);
  }
  
  function deleteIngredient(ingredientValue) {
    const ingredientsHTML = document.getElementsByClassName('ingredient')

    let ingredients = []

    for (let i = 0; i < ingredientsHTML.length; i++) {
      const ingredient = ingredientsHTML[i];
      ingredients.push(ingredient.value)
    }
    
    const arrayIndexToDelete = ingredients.indexOf(ingredientValue)    
    const CSSindexToDelete = (arrayIndexToDelete + 1)
    console.log("CSSindexToDelete", CSSindexToDelete)
    
    const elementToDelete = document.querySelector(`#recipe-update-ingredients .recipe-update-ingredient-container:nth-child(${CSSindexToDelete})`)
    console.log("elementToDelete", elementToDelete)
    
    const recipeIngredientsContainer = document.getElementById('recipe-update-ingredients')
    recipeIngredientsContainer.removeChild(elementToDelete);
    
  }

  function moveInstructionUp(instructionValue) {
    const instructionsHTML = document.getElementsByClassName('instruction')

    let instructions = []

    for (let i = 0; i < instructionsHTML.length; i++) {
      const instruction = instructionsHTML[i];
      instructions.push(instruction.value)
    }
    
    const arrayIndexToMoveUp = instructions.indexOf(instructionValue)
    if(arrayIndexToMoveUp === 0) return
    
    const CSSindexToMoveUp = (arrayIndexToMoveUp + 1)
    const CSSindexToMoveBelow = (CSSindexToMoveUp - 1)

    const elementToMoveUp = document.querySelector(`#recipe-update-instructions .recipe-update-instruction-container:nth-child(${CSSindexToMoveUp})`)
    const elementToMoveBelow = document.querySelector(`#recipe-update-instructions .recipe-update-instruction-container:nth-child(${CSSindexToMoveBelow})`)
    
    const recipeInstructionsContainer = document.getElementById('recipe-update-instructions')
    recipeInstructionsContainer.insertBefore(elementToMoveUp, elementToMoveBelow);
}

  function moveInstructionDown(instructionValue) {
    const instructionsHTML = document.getElementsByClassName('instruction')

    let instructions = []

    for (let i = 0; i < instructionsHTML.length; i++) {
      const instruction = instructionsHTML[i];
      instructions.push(instruction.value)
    }
    
    const arrayIndexToMoveDown = instructions.indexOf(instructionValue)
    
    const CSSindexToMoveDown = (arrayIndexToMoveDown + 1)
    const CSSindexToMoveAbove = (CSSindexToMoveDown + 1)

    if(CSSindexToMoveDown === instructions.length) return

    const elementToMoveDown = document.querySelector(`#recipe-update-instructions .recipe-update-instruction-container:nth-child(${CSSindexToMoveDown})`)
    const elementToMoveAbove = document.querySelector(`#recipe-update-instructions .recipe-update-instruction-container:nth-child(${CSSindexToMoveAbove})`)
    
    const recipeInstructionsContainer = document.getElementById('recipe-update-instructions')
    recipeInstructionsContainer.insertBefore(elementToMoveAbove, elementToMoveDown);
}

function deleteInstruction(instructionValue) {
    const instructionsHTML = document.getElementsByClassName('instruction')

    let instructions = []

    for (let i = 0; i < instructionsHTML.length; i++) {
      const instruction = instructionsHTML[i];
      instructions.push(instruction.value)
    }
    
    const arrayIndexToDelete = instructions.indexOf(instructionValue)    
    const CSSindexToDelete = (arrayIndexToDelete + 1)
    console.log("CSSindexToDelete", CSSindexToDelete)
    
    const elementToDelete = document.querySelector(`#recipe-update-instructions .recipe-update-instruction-container:nth-child(${CSSindexToDelete})`)
    console.log("elementToDelete", elementToDelete)
    
    const recipeInstructionsContainer = document.getElementById('recipe-update-instructions')
    recipeInstructionsContainer.removeChild(elementToDelete);
    
}

// function photoUpload() {
  
  const photoForUpload = document.getElementById('photo-for-upload')
  
  const previewImageLocation = document.getElementById('recipe-update-image-content')
  
  const previewImage = document.createElement('img')
  
  photoForUpload.addEventListener('change', function(event) {
    const currentPhotoElement = document.getElementById('recipe-update-image')
    const placeholderPhotoElement = document.getElementById('no-image-placeholder')

    if(currentPhotoElement) {
      currentPhotoElement.remove()
    
    } else if(placeholderPhotoElement) {
      placeholderPhotoElement.remove()
    }
    
    
    var file = event.target.files[0]

    if (file) {
      let reader = new FileReader()

      reader.onload = function(e) {
        previewImage.id = 'recipe-update-uploaded-image'
        previewImage.src = e.target.result;
        previewImage.style.display = 'block';
      };

      reader.readAsDataURL(file);
      previewImageLocation.appendChild(previewImage)

    } else {
      previewImage.src = '';
      previewImage.style.display = 'none';
    }

})



// }

function photoDelete() {
  // const currentPhotoElement = document.getElementById('recipe-update-image').remove()
  
  const currentPhotoElement = document.getElementById('recipe-update-image')
  const uploadedPhotoElement = document.getElementById('recipe-update-uploaded-image')

  if(currentPhotoElement) {
    currentPhotoElement.remove()

  } else if(uploadedPhotoElement) {
    uploadedPhotoElement.remove()
  }

  const photoDiv = document.getElementById('recipe-update-image-content')
  
  const noImagePlaceholder = document.createElement('div')
  noImagePlaceholder.id = 'no-image-placeholder'
  noImagePlaceholder.classList.add('recipe-update-image')
  photoDiv.appendChild(noImagePlaceholder)
  
  const noImagePlaceholderDiv = document.getElementById('no-image-placeholder')
  
  const noImagePlaceholderOverlayH3 = document.createElement('h3')
  noImagePlaceholderOverlayH3.id = 'no-image-placeholder-overlay-h3'
  noImagePlaceholderOverlayH3.textContent = "No Photo Selected"
  noImagePlaceholderDiv.appendChild(noImagePlaceholderOverlayH3)

  const noImagePlaceholderOverlayP = document.createElement('p')
  noImagePlaceholderOverlayP.id = 'no-image-placeholder-overlay-p'
  noImagePlaceholderOverlayP.textContent = "We will generate something beautiful using the magic of AI!"
  noImagePlaceholderDiv.appendChild(noImagePlaceholderOverlayP)



}



  $(document).ready(function() {
    $('.expanding-text-input').on('input', function() {
        this.style.height = 'auto'
        this.style.height = (this.scrollHeight) + 'px';
    })
})
</script>

<%- include('../partials/footer') %>