<%- include('../partials/header') %>

<form action="/recipes/<%= recipe._id %>/update/?_method=PUT" method="POST" id="recipe-top-info" class="recipe-info">
  <table id="recipe-top-info" class="recipe-info">
  <tr>
    <th>Name:</th>
    <td><input name="name" type="text" class="med-input" value="<%= recipe.name %>"></input></td><br>
    <tr>
      <th>Added by:</th>
      <td><%= recipe.userName %></td><br>
    </tr>
  </tr>
  <tr>
    <th>Description:</th>
    <td><textarea name="description" type="text"  class="long-input"  autocomplete="off"><%= recipe.description %></textarea></td><br>
  </tr>
  <tr>
    <th>Category:</th>
    <td><select name="category" class="input">
      <option value="<%= recipe.category %>"><%= recipe.category %></option>
      <option value="Snack">Snack</option>
      <option value="Starter">Starter</option>
      <option value="Main Course">Main Course</option>
      <option value="Desert">Desert</option>
      <option value="Cocktail">Cocktail</option>
      </select></td>
  </tr>
  <tr>
    <th>Prep Time (Mins):</th>
    <td><input name="prepTime" type="number"  class="short-input" autocomplete="off" value="<%= recipe.prepTime %>"></input></td><br>
  </tr>
  <tr>
    <th>Cook Time (mins):</th>
    <td><input name="cookTime" type="number"  class="short-input" autocomplete="off" value="<%= recipe.cookTime %>"></input></td><br>
  </tr>
  <tr>
    <th># Adult Servings:</th>
    <td><input name="servings" type="number"  class="short-input" autocomplete="off" value="<%= recipe.servings %>"></input></td><br>
  </tr>

<div id="recipe-ingredients">
  <h2>Ingredients</h2>
  <% if(recipe.ingredients.length > 0) { %>
    <% recipe.ingredients.forEach(function(ingredient) { %>
      <ul>
        <li><input name="name" type="text" class="med-input" value="<%= ingredient %>"></input></li>
      </ul>
    <% }) %> 
  <% } %> 
    
  <button type="button" class="reg-button" onclick="addIngredientField()">Add Ingredient</button>
</div>


<div id="recipe-instruction">
  <h2>Instructions</h2>
  <% if(recipe.instructions.length > 0) { %>
    <% recipe.instructions.forEach(function(instruction) { %>
      <ul>
        <li><input name="name" type="text" class="med-input" value="<%= instruction %>"></input></li>
      </ul>
    <% }) %> 
  <% } %> 
    
  <button type="button" class="reg-button" onclick="addIngredientField()">Add Ingredient</button>
</div>

</table>








<br>
    <button type="submit" class="reg-button">Save Edits to Recipe Info</button>
</form>

<br>

<%- include('../partials/footer') %>